* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body {
    height: 100vh;
    display: flex;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Charm', cursive;
}


/*-------------------------GAME BOARD----------------------------*/
.board {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 10000px;
    opacity: 1;
}



/*----------------------------MEMORY CARDS----------------------------*/
.card {
    width: calc(20% - 10px);
    height: 250px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    opacity: 0;
}


.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}


.card.flip, .card.paired {
    transform: rotateY(180deg);
}


.card_front, .card_back {
    width: 100%;
    height: 100%;
    padding: 0px;
    position: absolute;
    border-radius: 5px;
    background: darkgrey;
    backface-visibility: hidden;
}


.card_front:hover, .card_back:hover{
    background: salmon;
    transition: 0.3s;
}


.card_front {
    transform: rotateY(180deg);
}


.card_fade_in {
    opacity: 1;
    transition: 1s;
}


.card_fade_out {
    opacity: 0;
    transition: 1s;
}


/*---------------------------------FORM--------------------------------*/
#login_form {
    width: 30%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 2px 2px black;
    background-color: darkgrey;
    border-radius: 20px;
    padding: 15px;
    z-index: +1000;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


input {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    outline: none;
}


#difficulty{
    margin: auto;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    outline: none;
    height: 50px;
    text-align-last: center;
    font-size: 30px;
}


.submit{
    width: 60%;
    margin:  20px auto;
    background-color: #a9a9a9;
    transition: 0.3s;
}

.submit:hover {
    background-color: salmon;
    transition: 0.3s;
}

.form_fade_out {
    opacity: 0;
    transition: 1s;
}

form h1{
    font-size: 55px;
    width:100%;
}



/*----------------------------------santa hat---------------------------------*/
#santa_hat{
    position: absolute;
    z-index: 1000000;
    width: 200px;
    height: 153px;
    transform: rotateZ(-10deg);
    top: 300px;
    left: 550px;
}




/*---------------------------------SNOW FALLING--------------------------------*/
#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}


.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #686868;
    user-select: none;
    z-index: -1000;
}



/*------------------------highscore table ------------------------*/
.highscore_container{
    text-shadow: 2px 2px #000000;
    display: block;
    position: center;
    margin: auto;
    width: 40%;
    font-size: 45px;
    box-shadow: 2px 2px 2px 2px black;
    text-align: center;
    background-color: darkgrey;
    padding: 40px;
    border-radius: 20px;
    color: white;
    opacity: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/*-------------------------santa----------------------------*/
.santa{
    display: block;
    position: center;
    margin: auto;
}


/*----------------------------flashes--------------------------*/
.flashes {
    width: 50%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px black;
    background-color: green;
}


/*---------------------------upload------------------------------*/
#upload_form{
    display: block;
    margin: auto;
}