<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{url_for("static",filename="css/game.css")}}">
      <script defer src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
      <script defer type="text/javascript" src="{{url_for("static",filename="js/game.js")}}"></script>
      <script defer type="text/javascript" src="{{url_for("static",filename="js/snow.js")}}"></script>
    </head>
    <body>

        <form id="login_form">
            <input type="text" id="nick_name" placeholder="nickname">
            <select id="difficulty">
                <option value="" disabled selected>Difficulty</option>
                <option value="5">Easy</option>
                <option value="10">Medium</option>
                <option value="10">Hard</option>
            </select>
            <input type="submit" value="Start Game" class="submit">
        </form>

























        <!--<div id="snowflakeContainer">-->
          <!--<p class="snowflake">*</p>-->
        <!--</div>-->


    </body>
</html>