<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{url_for("static",filename="css/game.css")}}">
  <script defer type="text/javascript" src="{{url_for("static",filename="js/game.js")}}"></script>
  <script defer type="text/javascript" src="{{url_for("static",filename="js/snow.js")}}"></script>
</head>
<body>


  <!--<section class="memory-game">-->
    <!--<div class="memory-card" data-framework="aurelia">-->
      <!--<img class="front-face" src="img/aurelia.svg" alt="Aurelia" />-->
      <!--<img class="back-face" src="back.png" alt="JS Badge" />-->
    <!--</div>-->
  <!--</section>-->


    <section class="board">
        {%if cards %}
            {% for card in cards %}
                <div class="card" data-id="{{card.id}}">
                    <img class="card_back" src="../static/pics/front.png">
                    <img class="card_front" src="../static/pics/{{card.filename}}">
                </div>
            {% endfor %}
        {% endif %}
    </section>



    <div id="snowflakeContainer">
      <p class="snowflake">*</p>
    </div>


</body>
</html>