<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for("static",filename="css/admin.css")}}">
        <script defer type="text/javascript" src="{{ url_for("static",filename="js/admin.js") }}"></script>
    </head>
    <body>
        <header class="card" id="upload">
            <h1>Admin Page</h1>
            <form method="post" enctype="multipart/form-data" action="{{ url_for('admin') }}">
                <input type="file" name="images" multiple required>
                <input type="submit" value="upload">
            </form>
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for category,message in messages %}
                        <p class="flashes {{ category }}">{{ message }}</p>
                    {% endfor %}
            {% endif %}
        {% endwith %}
        {% if images %}
            <div id="images">
                <form id="delete_images" action="{{ url_for("delete_image") }}" method="post">
                     {% for image in images %}
                         <input class="checkboxes" type="checkbox" name="{{ image.filename }}">
                         <div class="image">
                            <a href="{{ url_for("static",filename="pics/"+image.filename) }}">
                                    <img src="{{ url_for("static",filename="pics/"+image.filename) }}" width="100" height="150">
                            </a>
                            <p><b>ID:</b>{{ image.id }}<br><b>Path:</b> static/pics/{{ image.filename }}</p>
                         </div>
                    {% endfor %}
                    <input type="submit"  value="Delete images">
                </form>
            <div>
        {% endif %}
    </body>
</html>